<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e2e1edf74cb04f96bfd65a0d5e5fe177 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_e2e1edf74cb04f96bfd65a0d5e5fe177" ></div>
        
</body>
<script>    
    
            var map_e2e1edf74cb04f96bfd65a0d5e5fe177 = L.map(
                "map_e2e1edf74cb04f96bfd65a0d5e5fe177",
                {
                    center: [51.509865, -0.118092],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: true,
                }
            );

            

        
    
            var tile_layer_70bb02fa85a94b0fa85f3f08ee476ecb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e2e1edf74cb04f96bfd65a0d5e5fe177);
        
    
            var marker_cluster_d886c423c8d94a1da27bb0edf101200d = L.markerClusterGroup(
                {}
            );
            marker_cluster_d886c423c8d94a1da27bb0edf101200d.options.iconCreateFunction =
                function(cluster){
    children_count = cluster.getChildCount();
    children = cluster.getAllChildMarkers();
    
    cluster_sentiment = []
    
    children.forEach(function(marker) {
       color = marker.options.icon.options.markerColor
       if(typeof color !== 'undefined'){
           if (color.substring(0,5) === 'light'){
              cluster_sentiment.push(color.substring(5));
           } else {
              cluster_sentiment.push(color)
           }
       }
    });

    function mode(array){
            if(array.length == 0)
                return null;
            var modeMap = {};
            var maxEl = array[0], maxCount = 1;
            for(var i = 0; i < array.length; i++){
                var el = array[i];
                if(modeMap[el] == null)
                    modeMap[el] = 1;
                else
                    modeMap[el]++;  
                if(modeMap[el] > maxCount)
                {
                    maxEl = el;
                    maxCount = modeMap[el];
                }
            }
            return maxEl;
   }
    
    let sentiment = mode(cluster_sentiment); // most common color
    if(sentiment === 'lightred'){            // svg does not accept lightred
       sentiment = 'indianred'
    }
    
    console.log(sentiment + " " + cluster_sentiment.length)
    
    return L.divIcon({
    html:'<style type="text/css">.leaflet-div-icon { background: none!important; border: none!important; text-align: center;}</style><div id="container" background:"none" border:0><svg viewBox="0 0 30 30" ><circle cx="15" cy="15" r="15" fill='+sentiment+' viewBox="0 0 30 30"/><text x="50%" y="50%" text-anchor="middle" stroke="white" stroke-width="1px" dy=".3em">'+ children_count +'</text></svg></div>',
    iconSize: new L.Point(30,30)
    });
    };
            map_e2e1edf74cb04f96bfd65a0d5e5fe177.addLayer(marker_cluster_d886c423c8d94a1da27bb0edf101200d);
        
    
            var marker_3fa1d3319eaf423a877e4e6d59661e95 = L.marker(
                [46.21645047, 11.09076642],
                {}
            ).addTo(marker_cluster_d886c423c8d94a1da27bb0edf101200d);
        
    
            var icon_b138925b044f496b92dfd750a449303c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-thumbs-up", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon", "radius": 20}
            );
            marker_3fa1d3319eaf423a877e4e6d59661e95.setIcon(icon_b138925b044f496b92dfd750a449303c);
        
    
        var popup_ef98472695644d578e56aaacd4aab050 = L.popup({"maxWidth": "100%"});

        
            var html_f6e079a8758a497da93ae51aa5484635 = $(`<div id="html_f6e079a8758a497da93ae51aa5484635" style="width: 100.0%; height: 100.0%;">lang: it, retweet: 0, favorited: 0</div>`)[0];
            popup_ef98472695644d578e56aaacd4aab050.setContent(html_f6e079a8758a497da93ae51aa5484635);
        

        marker_3fa1d3319eaf423a877e4e6d59661e95.bindPopup(popup_ef98472695644d578e56aaacd4aab050)
        ;

        
    
    
            var marker_a1649a9d3ce1434cb160e7bab57d2a08 = L.marker(
                [46.00111241, 4.70985022],
                {}
            ).addTo(marker_cluster_d886c423c8d94a1da27bb0edf101200d);
        
    
            var icon_f6122d2f8725492497775d0ff64c030c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-thumbs-up", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon", "radius": 20}
            );
            marker_a1649a9d3ce1434cb160e7bab57d2a08.setIcon(icon_f6122d2f8725492497775d0ff64c030c);
        
    
        var popup_70b35862bf1649bea08bb344174b9878 = L.popup({"maxWidth": "100%"});

        
            var html_7415f7042fe64832ae6d71a53c453759 = $(`<div id="html_7415f7042fe64832ae6d71a53c453759" style="width: 100.0%; height: 100.0%;">lang: it, retweet: 0, favorited: 0</div>`)[0];
            popup_70b35862bf1649bea08bb344174b9878.setContent(html_7415f7042fe64832ae6d71a53c453759);
        

        marker_a1649a9d3ce1434cb160e7bab57d2a08.bindPopup(popup_70b35862bf1649bea08bb344174b9878)
        ;

        
    
</script>